.card-definition-1 {
  display:none
}

.card-definition-2 {
  display:none
}

.card-definition-3 {
  display:none
}

.card-definition-4 {
  display:none
}

.card-definition-5 {
  display:none
}

.card-definition-6 {
  display:none
}

.card-definition-7 {
  display:none
}

.card-definition-8 {
  display:none
}

.card-definition-9 {
  display:none
}
